main {
    width: 600px;
    padding: 25px;
}

body {
    margin: 0;
    font-size: 21px;
    font-family: Arial, sans-serif;
    color:black;
}

header {
    background-color: #486b3c;
    color: white;
    padding: 30px 0;
    text-align: center;
}

img {
    width: 900px;
    border: 3px seagreen;
    display: block;
    margin: 20px auto;
}

input[type="submit"]{
    margin-top: 10px;
    padding 12px 17px
    background-color: beige;
    color: #ecfeff;
    text-transform: uppercase;
    border-radius: 5px;
    front-weight: bold;
    cursor: pointer
}