main {
    width: 600px;
    padding: 25px;
    margin: 0 auto;
}

body {

    font-size: 21px;
    font-family: Arial, sans-serif;
    color:black;
}

header {
    background-color: seagreen;
    color: white;
    padding: 30px 0;
    text-align: center;
}

.bilde {
    width: 900px;
    display: block;
    margin: 20px auto;
}



.intro {
    margin-top: 30px;
    padding: 15px;
    border: 2px solid seagreen;
    border-radius: 10px;
}

.tjenester {
    margin-top: 30px;
    padding: 15px;
    border: 2px solid seagreen;
    border-radius: 10px;
}

.Innlevering {
    margin-top: 30px;
    padding: 15px;
    border: 2px solid seagreen;
    border-radius: 10px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    font-weight: bold;
    margin-top: 5px;
}

button {
    background-color: #486b3c;
    color: white;
    font-size: 16px;
    padding: 12px;
    margin-top: 10px;
}

.fordeler {
    background-color: white;
    color: seagreen;
    padding: 75px;
    text-align: center;
}

.kolonner {
    display: flex;
}

.kolonne1 {
    margin: 0 40px;
}

.kolonne2 {
margin: 0 40px;

}

.kolonne3 {
margin: 0 40px;

}

footer {
    margin-top: 30px;
    text-align: center;
    padding: 10px;
}

